#container {
  margin: 0 auto;
  width: 70%;
}


h2 {
  text-align: center;
}

#wrapper {
  animation: fadein 1s;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #070707;
  font-size: 30px;
  text-align: center;
  height: 400px;
  width: 100%;
  animation: fadein 1s;
  cursor: pointer;
  transition: transform .3s;

}

#fighter1 {
  display: inline-block;
  background-image: linear-gradient(to left, blue, red);
  -webkit-background-clip: text;
  color: transparent;
}

#fighter2 {
  background-color: black;
}

#fighter3 {
  background-color: blue;
}


#fighter4 {
  background-color: red;
}



#fighter5 {
  background-color: green;
}



#fighter6 {
  background-color: yellow;
}



#fighter7 {
  background-color: cyan;
}



#fighter8 {
  background-color: orange;
}

.grid-item:active,
.grid-item:hover {
  animation: flashing 5s infinite;
  animation-fill-mode: forwards;
  transform: translateY(-1.5rem) scale(1.03);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #e3e3e3;
  padding: 10px;
  -webkit-animation: slideInLeft 1s 1;
  animation: slideInLeft 1s 1;
  animation-fill-mode: forwards;
  position: absolute;
  margin: 0 auto;
  width: 50%;
}

.header {
  animation: slideinTop
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashing {
  0% {
    opacity: 0.5;
    background-color: yellow;
  }
  25% {
    opacity: 1;
    background-color: green;
  }
  50% {
    opacity: 0.5;
    background-color: red;
  }
  75% {
    opacity: 1;
    background-color: blue;
  }
  100% {
    opacity: 0.5;
    background-color: yellow;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

img {
  width: 200px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0px;
}
