body {
  background-color: #070707;
  background-image: url("rosenbad.jpg")
}


.container {
  margin: 0 auto;
  padding: 0px;
  width: 80%;
  background-color: rgba(255,255,255,0.5);
  animation: slideInLeft 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.57,-0.62,0,1.69);

}


h2 {
  text-align: center;
}

#wrapper {
  animation: fadein 1s;
}

#fighter1 {
  background-color: pink;
  padding: 0px;
}

#fighter2 {
  background-color: black;
  padding: 0px;
}

#fighter3 {
  background-color: blue;
  padding: 0px;
}


#fighter4 {
  background-color: red;
  padding: 0px;
}



#fighter5 {
  background-color: green;
  padding: 0px;
}



#fighter6 {
  background-color: yellow;
  padding: 0px;
}



#fighter7 {
  background-color: cyan;
  padding: 0px;
}



#fighter8 {
  background-color: orange;
}

.col.s1:active,
.col.s1:hover {
  animation: flashing 5s infinite;
}

.header {
  animation: slideInTop 1s 1;
  animation-fill-mode: forwards;
  text-align: center;
}

.footer {
  animation: slideInBottom 1s 1;
  animation-fill-mode: forwards;
  text-align: center;
}



@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashing {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;

  }
  100% {
    opacity: 0.5;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes chosenOne {
  0% {
    opacity: 0.5;
    background-color: red;
  }
  25% {
    opacity: 1;
    background-color: red;
  }
  50% {
    opacity: 0.5;
    background-color: red;
  }
  75% {
    opacity: 1;
    background-color: red;

  }
  100% {
    opacity: 0.5;
    background-color: red;
  }
}

@keyframes chosenTwo {
  0% {
    opacity: 0.5;
    background-color: blue;
  }
  25% {
    opacity: 1;
    background-color: blue;
  }
  50% {
    opacity: 0.5;
    background-color: blue;
  }
  75% {
    opacity: 1;
    background-color: blue;

  }
  100% {
    opacity: 0.5;
    background-color: blue;
  }
}
________________

.col.s1 {
  padding: 0px;
  animation: fadein 1s 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.57,-0.62,0,1.69);
  cursor: pointer;
  margin: 0 auto;
}
.col.s1 img {
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 50%;
}

.row  {
  margin: 0 auto;
  width: 40%;
}

.row .col.s1  {
  margin: 0 auto;
  width: 250px;
}


.statContainerRight {
  float: right;
}

.statContainerLeft {
  float: left;
}
