body {
  background-color: #070707;
}


.container {
  margin: 0 auto;
  padding: 0px;
  width: 30%;
  background-color: rgba(255,255,255,0.5);
  animation: slideInBottom 8s;
  animation-fill-mode: forwards;
  -webkit-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  position: fixed;
  z-index: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 3%;

}


h2 {
  opacity: 0;
  text-align: center;
  color: #fff;
  z-index: 900;
  position: fixed;
  top: 35%;
  left: 40%;
  animation: slideInRightAndSlideOutLeft 8s 1;
  animation-fill-mode: forwards;
}
h1 {
  opacity: 0;
  text-align: center;
  color: #fff;
  z-index: 900;
  position: fixed;
  top: 25%;
  left: 40%;
  animation: slideInLeftAndSlideOutRight 8s 1;
  animation-fill-mode: forwards;
}

.wrapper {
  animation: fadein 6s 1;
  background-image: url("rosenbad.jpg");
  height: 1250px;
  animation-fill-mode: forwards;
  margin-top: -3%;
}

#fighter1 {
  background-color: pink;
  padding: 0px;
}

#fighter2 {
  background-color: black;
  padding: 0px;
}

#fighter3 {
  background-color: blue;
  padding: 0px;
}


#fighter4 {
  background-color: red;
  padding: 0px;
}



#fighter5 {
  background-color: green;
  padding: 0px;
}



#fighter6 {
  background-color: yellow;
  padding: 0px;
}



#fighter7 {
  background-color: cyan;
  padding: 0px;
}



#fighter8 {
  background-color: orange;
}

.col.s6:active,
.col.s6:hover {
  animation: flashing 5s infinite;
}


.selectFighter {
  position: fixed;
  top: 50%;
  margin: 0 auto;
  margin-left: 50%;
  animation: slideInBottomButton 1s 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.57,-0.62,0,1.69);
}

.theStatListContainer {
  z-index: -5;
}

.headerImage {
  height: 1400px;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  top:0
  z-index: 100;
  position: fixed;
  margin-top: -3%;
  animation: slideInTopAndSlideOutTop 8s 1;
  animation-fill-mode: forwards;
}



.headerH1 {
  position: absolute;
  top: 50%;
  text-align: center;
  z-index: 999;
  color: #fff;
}

.headerH2 {
  position: absolute;
  top: 50%;
  text-align: center;
  z-index: 999;
  color: #fff;
}

p {
  z-index: 1000;
}


.nav {

}

.modal-content {
  background-color: white;
}

.modal-footer {
  background-color: #90caf9 !important;4
}

.right {
  margin-right: 10px;
}

.statItem {
  z-index: -3;
  width: 100%;
}

#statList {
  width: 33%;
  z-index: -3;
}

.btn {
  background-color: #42a5f5;
 }

.modalButton {
  width: 100%;
  position: fixed;
  animation: slideInRight 1.6s 1;
  animation:fill-mode: forwards;
  animation-timing-function: cubic-bezier(.57,-0.62,0,1.69);
  margin-top: 3%;
}

.footer {
  animation: slideInBottom 6s 1;
  animation-fill-mode: forwards;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  height: 50px;
  background-color: rgba(255,255,255, 0.8);
  position: fixed;
  bottom: 0;
  z-index: -1;
}



@keyframes fadein {
  0% {
    opacity: 0;
    background-image: none;
  }
  90% {
    background-image: none;
  }
  100% {
    opacity: 1;
    background-image: url("rosenbad.jpg");
  }
}

@keyframes flashing {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;

  }
  100% {
    opacity: 0.5;
  }
}

@keyframes slideInRightAndSlideOutTop {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-800%);
  }
}

@keyframes slideInLeftAndSlideOutTop {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-800%);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}




@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInRightAndSlideOutLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideInLeftAndSlideOutRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideInTopAndSlideOutTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}


@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideInBottomButton {
  0% {
    opacity: 0;
    transform: translateY(400%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes chosenOne {
  0% {
    opacity: 0.5;
    background-color: red;
  }
  25% {
    opacity: 1;
    background-color: red;
  }
  50% {
    opacity: 0.5;
    background-color: red;
  }
  75% {
    opacity: 1;
    background-color: red;

  }
  100% {
    opacity: 0.5;
    background-color: red;
  }
}

@keyframes chosenTwo {
  0% {
    opacity: 0.5;
    background-color: blue;
  }
  25% {
    opacity: 1;
    background-color: blue;
  }
  50% {
    opacity: 0.5;
    background-color: blue;
  }
  75% {
    opacity: 1;
    background-color: blue;

  }
  100% {
    opacity: 0.5;
    background-color: blue;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}
________________

.col.s6 {
  padding: 0px;
  animation: fadein 1s 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.57,-0.62,0,1.69);
  cursor: pointer;
  margin-top: 5%;
}
.col.s6 img {
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.row .col.s6  {
  margin: 5%;
  width: 30%;
  margin-top: 5%;
  cursor: pointer;
  margin-left: 11.5%;
}

____________________________________________

.statContainerRight {
  float: right;
}

.statContainerLeft {
  float: left;
}
