.container {
  margin: 0 auto;
  width: 80%;
  animation: slideInLeft 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.57,-0.62,0,1.69);

}


h2 {
  text-align: center;
}

#wrapper {
  animation: fadein 1s;
}

#fighter1 {
  background-color: pink;
  width: 200px;
}

#fighter2 {
  background-color: black;
}

#fighter3 {
  background-color: blue;
}


#fighter4 {
  background-color: red;
}



#fighter5 {
  background-color: green;
}



#fighter6 {
  background-color: yellow;
}



#fighter7 {
  background-color: cyan;
}



#fighter8 {
  background-color: orange;
}

.col.s1:active,
.col.s1:hover {
  animation: flashing 5s infinite;
  animation-fill-mode: forwards;
}

.grid-container {
  opacity: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #e3e3e3;
  padding: 10px;
  animation: slideInLeft 1s 1;
  animation-fill-mode: forwards;
  position: absolute;
  margin: 0 auto;
  width: 50%;
  margin-left: 25%;
}

.header {
  animation: slideInTop 1s 1;
  animation-fill-mode: forwards;
  text-align: center;
}

.nav {

}

.modal-content {
  background-color: darkgrey;
}

.modal-footer {
  background-color: yellow !important;
}

.right {
  margin-right: 10px;
}

.kuken {
  width: 100%;
}

.footer {
  animation: slideInBottom 1s 1;
  animation-fill-mode: forwards;
  text-align: center;
  margin-top: 80%;
}



@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashing {
  0% {
    opacity: 0.5;
    background-color: yellow;
  }
  25% {
    opacity: 1;
    background-color: green;
  }
  50% {
    opacity: 0.5;
    background-color: red;
  }
  75% {
    opacity: 1;
    background-color: blue;
  }
  100% {
    opacity: 0.5;
    background-color: yellow;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

img {
  width: 200px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0px;
}


________________

.col.s1 {
  padding: 0px;
  animation: slideInBottom 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.57,-0.62,0,1.69);
  cursor: pointer;
  width: 200px;
}
.col.s1 img {
  height: 200px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin-left: 35%;
}

.row  {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.row .col.s1  {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}
