.btn-large {
	width: 13%;
	height: 4%;
	background-color: #f4f142;
	color: #4286f4;
	/*animation: slideInBottom 2s;
	animation-fill-mode: forwards;*/
	z-index: 3;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	padding: 0px;
	margin-top: 52%;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 33px;
}

.fightContainer {
	min-height: 450px;
}

.fighter0 {
	background-color: blue;
		border-radius: 80%;
}

.fighter1 {
	background-color: red;
		border-radius: 80%;
}

.open:focus {
	outline: none;
	display: block;
}

.btn-large:hover {
	-webkit-box-shadow: 0px 0px 12px 0px rgba(19, 171, 158, 1);
	-moz-box-shadow: 0px 0px 12px 0px rgba(19, 171, 158, 1);
	box-shadow: 0px 0px 12px 0px rgba(19, 171, 158, 1);
}

#imgFighter1 {
	animation: firstFighter 5s 1;
	animation-fill-mode: forwards;
}

#imgFighter2 {
	animation: secondFighter 5s 1;
	animation-fill-mode: forwards;
}

#imgWinner {
	animation: fadeIn 70s 1;
	animation-fill-mode: forwards;
	width: 17.5rem;
	box-sizing: border-box;
	position: fixed;
	border-radius: 40%;
	margin-left: -28rem;
	margin-top: 1rem;
}

#fadeIn {
	animation: fadeIn 15s 1;
	animation-fill-mode: forwards;
}


/* Animations used */
@keyframes slideInBottom {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes firstFighter {
	0% {
		transform: translateX(-100%);
		transform: rotate(0deg);
		opacity: 1;
	}
	50% {
		transform: translateX(200%);
		transform: rotate(360deg);
	}
	70% {
		transform: translateX(50%);
		opacity: 1;
	}
	100% {
		transform: translateX(100%);
		transform: rotate(0deg);
		opacity: 0;
	}
}

@keyframes secondFighter {
	0% {
		transform: translateX(100%);
		transform: rotate(0deg);
		opacity: 1;
	}
	50% {
		transform: translateX(-200%);
		transform: rotate(360deg);
	}
	70% {
		transform: translateX(-50%);
		opacity: 1;
	}
	100% {
		transform: translateX(-100%);
		transform: rotate(0deg);
		opacity: 0;
	}
}
