.logo1 {
	width: 5rem;
	box-sizing: border-box;
	position: fixed;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: 40%;
	animation: shrink 1s 1;
	animation-fill-mode: forwards;
}

.logo1:hover {
	animation: grow 1s 1;
	animation-fill-mode: forwards;
}

@keyframes grow {
	0% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1.2);
	}
}

@keyframes shrink {
	0% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.0);
	}
}
