
#fighter1 {
  background-image: url("/images/centern.png");
  background-size: 150px 150px;
  padding: 0px;
  border-radius: 50%;
}

#fighter2 {
  background-image: url("/images/sossesvin.png");
  background-size: 150px 150px;
  padding: 0px;
  border-radius: 50%;
}

#fighter3 {
  background-image: url("/images/moderaterna.png");
  background-size: 150px 150px;
  padding: 0px;
  border-radius: 50%;
}

#fighter4 {
  background-image: url("/images/vänstern.png");
  background-size: 150px 150px;
  padding: 0px;
  border-radius: 50%;
}

#fighter5 {
  background-image: url("/images/sd.png");
  background-size: 150px 150px;
  padding: 0px;
  border-radius: 50%;
}

#fighter6 {
  background-image: url("/images/liberalerna.png");
  background-size: 150px 150px;
  padding: 0px;
  border-radius: 50%;
}

#fighter7 {
  background-image: url("/images/kd.png");
  background-size: 150px 150px;
  padding: 0px;
  border-radius: 50%;
}

#fighter8 {
  background-image: url("/images/miljöpartietislamisterna.png");
  background-color:  #00a138;
  background-size: 150px 150px;
  padding: 0px;
  border-radius: 50%;
}

.selectFighter {
  position: fixed;
  top: 50%;
  margin: 0 auto;
  margin-left: 50%;
  animation: slideInBottomButton 1s 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.57,-0.62,0,1.69);
}

/* Stylings of the fighter images, inside the columns */

.col.s6 img {
  height: 150px;
  width: 150px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  animation: zoomOut 1s 1;
  animation-fill-mode: forwards;
}

.col.s6:active,
.col.s6:hover {
  animation: zoomIn 0.5s 1 cubic-bezier(.54,.65,0,2.06), flashing 3.5s infinite;
  animation-fill-mode: forwards;
}

/* Animations used */

@keyframes slideInBottomButton {
  0% {
    opacity: 0;
    transform: translateY(400%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1.0, 1.0);
  }

  100% {
    transform: scale(1.4, 1.4);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1.4, 1.4);
  }

  100% {
    transform: scale(1.0, 1.0);
  }
}
