.theStatListContainer p {
	text-align: center;
	font-size: 15px;
	margin: 0 auto;
	padding: 5px;
	animation: fadeIn 1s 1;
	animation-fill-mode: forwards;
}

#statContainer0 {
	z-index: -5;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	width: 30%;
	/* Centers an element with position:fixed */
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	/* End of centering */
	margin-top: 10%;
	margin-left: 2%;
	animation: slideInRight 1s;
	animation-timing-function: cubic-bezier(.54, .65, 0, 1.5);
	animation-fill-mode: forwards;
	color: #fff;
	min-height: 70%;
}

#statContainer1 {
	z-index: -5;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	width: 30%;
	/* Centers an element with position:fixed */
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	/* End of centering */
	margin-top: 10%;
	margin-right: 2%;
	animation: slideInLeft 1s;
	animation-timing-function: cubic-bezier(.54, .65, 0, 1.5);
	animation-fill-mode: forwards;
	color: #fff;
	min-height: 70%;
}

/* Animations used */

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes slideInRight {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}